@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 8%;
  --foreground: 0 0% 99%;
  --card: 0 0% 12%;
  --card-foreground: 0 0% 99%;
  --popover: 0 0% 12%;
  --popover-foreground: 0 0% 99%;
  --primary: 260 84% 65%;
  --primary-foreground: 0 0% 99%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 99%;
  --muted: 0 0% 25%;
  --muted-foreground: 0 0% 60%;
  --accent: 260 84% 65%;
  --accent-foreground: 0 0% 99%;
  --destructive: 27 97% 58%;
  --destructive-foreground: 0 0% 99%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: 260 84% 65%;
  --chart-1: 260 84% 65%;
  --chart-2: 184 98% 65%;
  --chart-3: 227 98% 60%;
  --chart-4: 84 98% 65%;
  --chart-5: 70 98% 60%;
  --radius: 0.625rem;
  --sidebar: 0 0% 12%;
  --sidebar-foreground: 0 0% 99%;
  --sidebar-primary: 260 84% 65%;
  --sidebar-primary-foreground: 0 0% 99%;
  --sidebar-accent: 0 0% 25%;
  --sidebar-accent-foreground: 0 0% 99%;
  --sidebar-border: 0 0% 20%;
  --sidebar-ring: 260 84% 65%;
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
}

.dark {
  --background: 0 0% 8%;
  --foreground: 0 0% 99%;
  --card: 0 0% 12%;
  --card-foreground: 0 0% 99%;
  --popover: 0 0% 12%;
  --popover-foreground: 0 0% 99%;
  --primary: 260 84% 65%;
  --primary-foreground: 0 0% 99%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 99%;
  --muted: 0 0% 25%;
  --muted-foreground: 0 0% 60%;
  --accent: 260 84% 65%;
  --accent-foreground: 0 0% 99%;
  --destructive: 25 72% 40%;
  --destructive-foreground: 0 0% 99%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: 260 84% 65%;
  --chart-1: 260 84% 65%;
  --chart-2: 162 98% 70%;
  --chart-3: 70 98% 60%;
  --chart-4: 303 98% 65%;
  --chart-5: 16 98% 65%;
  --sidebar: 0 0% 12%;
  --sidebar-foreground: 0 0% 99%;
  --sidebar-primary: 260 84% 65%;
  --sidebar-primary-foreground: 0 0% 99%;
  --sidebar-accent: 0 0% 25%;
  --sidebar-accent-foreground: 0 0% 99%;
  --sidebar-border: 0 0% 20%;
  --sidebar-ring: 260 84% 65%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
